{% extends "base.html" %} {% load static %} {% block content %}
{% if user.is_authenticated %}
    <div class="grid">
        {% for note in notes %}
        <div class="note">
            <div><p class = "text-muted"> {{ note.content }}</p></div>
            <div>Menu items</div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    <div id="loginform" class="anime_object form-group">
        <h4 class="text-muted">Login</h4>
        <form method="POST" id="form1" action="/login/">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p class="text-info">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %} {% csrf_token %} {{ login_form.as_p }}
            <button type="submit" class="btn btn-default">Login</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="register_btn" href="#">Register</a>
        </form>
    </div>

    <div id="registerform" class="anime_object form-group">
        <h4 class="text-muted">Register</h4>
        <form method="POST" action="/register/" class="form">
            {% csrf_token %} {{ register_form.as_p }}
            <a id="back_btn" href="#" class="btn">Back</a>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
    {% endif %}
 {% endblock content %}